.settings {
  max-width: 600px;
  margin: 0 auto 30px auto;
  h2 {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin: 0 0 30px 0;
    padding: 0 0 15px 0;
  }
}
.settings__theme {
  border: none;
  padding: 0 21px;
  margin: 0 0 40px 0;
  label {
    width: 74px;
    display: inline-block;
    line-height: 32px;
  }
  select {
    width: 150px;
    height: 30px;
    border-width: 1px;
    border-style: solid;
    padding: 0 10px;
    border-radius: 3px;
  }
}
.settings__columnsetup__row {
  margin-bottom: 20px;
  padding: 20px;
  border-width: 1px;
  border-style: solid;
  &.deselected {
    opacity: 0.7;
  }
}
.settings__columnsetup__row__name {
  width: 264px;
  display: inline-block;
  border: none;
  margin: 0 0 30px 0;
  padding: 0;
  h3 {
    margin: 0 0 25px 0;
  }
  label {
    display: inline-block;
    width: 74px;
    line-height: 32px;
  }
  input[type=text] {
    width: 150px;
    line-height: 30px;
    padding: 0 10px;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
  }
}
.settings__columnsetup__row__visible {
  width: 50%;
  border: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  label {
    line-height: 32px;
    display: inline-block;
  }
}
.settings__columnsetup__row__rules {
  border: none;
  margin: 0;
  padding: 0;
  h4 {
    margin-top: 0;
  }
  > button {
    float: right;
    margin: 7px 7px 0 0;
    border-radius: 100%;
    border: 0;
    text-indent: -9999px;
    height: 35px;
    width: 35px;
    position: relative;
    opacity: 0.85;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
    &:after, &:before {
      height: 15px;
      width: 2px;
      position: absolute;
      left: 17px;
      top: 10px;
      content: ' ';
    }
    &:after {
      transform: rotate(90deg);
    }
    &:disabled {
      opacity: 1;
      cursor: default;
    }
  }
}
.settings__columnsetup__row__rules__rule {
  display: block;
  padding: 10px;
  margin-bottom: 5px;
  border-width: 1px;
  border-radius: 3px;
  border-style: solid;
  select {
    width: 235px;
    margin-right: 19px;
    padding: 7px;
    border: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
  }
  input[type="text"] {
    width: 221px;
    border-radius: 3px;
    border: none;
    padding: 7px;
    border-style: solid;
    border-width: 1px;
  }
  button {
    float: right;
    width: 24px;
    height: 24px;
    opacity: 0.6;
    border: none;
    text-indent: -9999px;
    background: transparent;
    position: relative;
    margin: 2px 5px 0 0;
    &:hover {
      opacity: 1;
      cursor: pointer;
    }
    &:before, &:after {
      width: 2px;
      height: 25px;
      content: ' ';
      position: absolute;
      left: 15px;
      top: 0;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}
