.settings {
  max-width: 600px;
  margin: 0 auto;
  h2 {
    border-bottom: 1px solid #ccc;
    margin: 0 0 30px 0;
    padding: 0 0 15px 0;
  }
}
.settings__columnsetup__row {
  margin-bottom: 20px;
  background-color: #f7f7f7;
  padding: 20px;
  border: 1px solid #d0d0d0;
  &.deselected {
    opacity: 0.7;
  }
}
.settings__columnsetup__row__name {
  width: 254px;
  display: inline-block;
  border: none;
  margin: 0 0 30px 0;
  padding: 0;
  h3 {
    margin: 0 0 25px 0;
  }
  label {
    display: inline-block;
    width: 74px;
    line-height: 32px;
  }
  input[type=text] {
    width: 150px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    line-height: 30px;
    padding: 0 10px;
    border-radius: 3px;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.2);
  }
}
.settings__columnsetup__row__visible {
  width: 50%;
  border: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  label {
    line-height: 32px;
    display: inline-block;
  }
}
.settings__columnsetup__row__rules {
  border: none;
  margin: 0;
  padding: 0;
  h4 {
    margin-top: 0;
  }
  > button {
    float: right;
    margin: 7px 7px 0 0;
    border-radius: 100%;
    background-color: #1cb841;
    border: 0px;
    text-indent: -9999px;
    height: 35px;
    width: 35px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    position: relative;
    opacity: 0.85;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
    &:after, &:before {
      height: 15px;
      width: 2px;
      background-color: #f9f9f9;
      position: absolute;
      left: 17px;
      top: 10px;
      content: ' ';
    }
    &:after {
      transform: rotate(90deg);
    }
    &:disabled {
      background-color: #ccc;
      opacity: 1;
      cursor: default;
    }
  }
}
.settings__columnsetup__row__rules__rule {
  display: block;
  padding: 10px;
  margin-bottom: 5px;
  select {
    width: 235px;
    margin-right: 19px;
    padding: 7px;
    border: none;
    border-radius: 3px;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.1);
  }
  input[type="text"] {
    width: 221px;
    border-radius: 3px;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.1);
    border: none;
    padding: 7px;
  }
  button {
    float: right;
    width: 24px;
    height: 24px;
    opacity: 0.6;
    border: none;
    text-indent: -9999px;
    background: transparent;
    position: relative;
    margin: 2px 5px 0 0;
    &:hover {
      opacity: 1;
      cursor: pointer;
    }
    &:before, &:after {
      width: 2px;
      height: 25px;
      background-color: #111;
      content: ' ';
      position: absolute;
      left: 15px;
      top: 0;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}
.light {
  .settings__columnsetup__row {

  }
  .settings__columnsetup__row__rules__rule {
    background-color: #e5e5e5;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    select {
      background-color: #f9f9f9;
      color: #222;
    }
  }
}
