@import './light.scss';

html, body {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}
p {
  margin: 0 0 1.5em 0;
  padding: 0;
}
h1, h2, h3, h4, h5 {
  font-weight: normal;
}
fieldset {
  border: none;
  padding: 0;
}
.standardform {
  fieldset, .valuepair {
    margin: 0 0 10px 0;
  }
  label, .label {
    display: inline-block;
    line-height: 32px;
    width: 30%;
  }
  select {
    height: 30px;
    border-width: 1px;
    border-style: solid;
    padding: 0 10px;
    border-radius: 3px;
    width: 250px;
  }
  input[type=text], textarea {
    line-height: 30px;
    padding: 0 10px;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
  }
  input[type=text] {
    width: 250px;
  }
  .value {
    width: 50%;
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
.link {
  color: #07c;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
.overflow-hidden {
  overflow: hidden;
}
.hidden {
  display: none;
}
.clear {
  clear: both;
}
.left {
  float: left;
}
.right {
  float: right;
}
.message {
  padding: 10px;
  margin: 0 0 15px 0;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  &.notice {
    background-color: #FFF8C4;
  }
  &.error {
    background-color: #FFECEC;
  }
}
.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 3;
}
.modal__content {
  width: 700px;
  height: 100vh;
  position: fixed;
  z-index: 4;
  right: 0;
  top: 0;
  margin: 0;
  z-index: 4;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.8);
  overflow-y: auto;
  .tabs__nav ul {
    display: table;
    table-layout: fixed;
    width: 100%;
    li {
      display: table-cell;
      float: none;
      border-right-width: 1px;
      border-right-style: solid;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      &.active {
        border: none;
        border-right-width: 1px;
        border-right-style: solid;
      }
      &:hover {
        margin-top: 0;
        line-height: 50px;
        height: 50px;
      }
      &:last-child {
        border-right: none;
      }
    }
  }
  .tabs__content {
    border: none;
    padding: 20px;
  }
}
.modal__confirm, .modal__confirm__content__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.modal__confirm__content__overlay {
  background-color: rgba(0, 0, 0, 0.1);
}
.modal__confirm__content {
  position: absolute;
  top: 0;
  left: 150px;
  width: 280px;
  padding: 10px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  z-index: 1;
}
.modal__confirm__content__message {

}
.modal__confirm__content__buttons {
  text-align: right;
  margin-top: 10px;
  span {
    margin-left: 10px;
    cursor: pointer;
  }
}
.modal__story__description__content {
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  min-height: 400px;
  width: calc(100% - 22px);
}
.tasks__form {
}
.tasks__form__task {
  line-height: 36px;
  padding: 4px;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  label, input[type="text"] {
    width: calc(100% - 95px);
    vertical-align: middle;
  }
  label {
    line-height: 22px;
    margin: 0;
    vertical-align: middle;
  }
  input[type="text"] {
    width: calc(100% - 126px);
    margin: 0 10px 0 0;
    font-size: 13px;
    vertical-align: middle;
  }
  input[type="checkbox"] {
    vertical-align: middle;
    width: 30px;
    margin: 0;
  }
  button {
    vertical-align: middle;
    width: 50px;
    margin: 0;
    line-height: 28px;
    padding: 0 5px;
  }
}
.comment {
  clear: both;
  &.me {
    .comment__initials {
      float: left;
    }
    .comment__text {
      float: right;
    }
  }
}
.comment__initials {
  font-size: 18px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 100%;
  color: white;
  float: right;
}
.comment__text {
  padding: 8px 12px;
  border-style: solid;
  border-width: 1px;
  min-height: 44px;
  float: left;
  width: calc(100% - 103px);
  border-radius: 4px;
  margin-bottom: 20px;
  textarea {
    width: calc(100% - 22px);
  }
  button {
    line-height: 30px;
    padding: 0 10px;
    margin: 3px 0 0 0;
  }
}
.comment__text__at {
  display: block;
  text-align: right;
  font-style: italic;
  margin-top: 5px;
  font-size: 12px;
}
#app .content {
  padding-top: 54px;
}
#not-found {
  text-align: center;
  font-size: 200px;
  font-weight: bold;
  margin-top: 50px;
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 1px 4px 6px #def, 0 0 0 #000, 1px 4px 6px #def;
}
#home {
  width: 550px;
  margin: 50px auto;
  color: #333;
  h1 {
    font-size: 36px;
  }
  p {
    font-size: 16px;
  }
  a {
    color: #07c;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
header {
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 1;
  top: 0;
  nav {
    float: left;
    margin-left: 35px;
    a {
      text-decoration: none;
      line-height: 50px;
      height: 47px;
      display: inline-block;
      padding: 0 10px;
      &:hover {
        height: 50px;
      }
      &.active {
        height: 47px;
      }
    }
  }
}
.tabs {
}
.tabs__nav {
  display: block;
  width: 100%;
  height: 51px;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      float: left;
      min-width: 150px;
      line-height: 50px;
      height: 50px;
      cursor: pointer;
      text-align: center;
      padding: 1px 7px 0 7px;
      margin: 0 3px 0 0;
      opacity: 0.7;
      &.active {
        padding-top: 0 6px 0 6px;
        border-style: solid;
        border-width: 1px;
        border-bottom: none;
        opacity: 1;
        &:hover {
          line-height: 50px;
          height: 50px;
          margin-top: 0;
          opacity: 1;
        }
      }
      &:hover {
        line-height: 53px;
        height: 53px;
        margin-top: -3px;
        opacity: 0.9;
      }
    }
  }
}
.tabs__content {
  padding: 10px;
  border-style: solid;
  border-width: 1px;
}
.header__search {
  float: left;
  border: none;
  border-radius: 3px;
  line-height: 26px;
  margin: 12px 25px;
  width: 180px;
  padding: 0 10px;
  &:focus {
    outline: none;
  }
}
.header__toolbar {
  float: right;
  line-height: 50px;
  height: 50px;
  > a {
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    padding: 0 10px;
    height: 50px;
  }
}
.header__toolbar__enlarge {
  cursor: pointer;
}
.header__toolbar__enlarge:before, .header__toolbar__enlarge:after {
  content: "A";
}
.header__toolbar__enlarge:before {
  font-size: 12px;
}
.header__toolbar__enlarge:after {
  font-size: 20px;
}
.header__toolbar__loggedin {
  float: right;
  margin-left: 15px;
  font-size: 14px;
  border-left-width: 1px;
  border-left-style: solid;
  cursor: pointer;
  span {
      padding: 0 30px;
      line-height: 50px;
      display: inline-block;
  }
}
.header__toolbar__loggedin__context {
  position: absolute;
  width: 180px;
  right: 0;
  top: 50px;
  padding: 0 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  cursor: default;
  > a, > span {
    display: block;
    padding: 0 5px;
    cursor: pointer;
    text-decoration: none;
    line-height: 45px;
    border-top-width: 1px;
    border-top-style: solid;
  }
  .header__toolbar__loggedin__context__name {
    border-top: none;
    cursor: default;
  }
}
footer {
    clear: both;
}
.projectswrapper {
  width: 600px;
  margin: 80px auto;
}
.projectswrapper__project {
  position: relative;
  display: block;
  font-size: 22px;
  margin-bottom: 10px;
  border-radius: 3px;
  border-left-width: 25px;
  border-left-style: solid;
  label {
    line-height: 60px;
    cursor: pointer;
    padding: 0 20px;
    display: block;
  }
  input[type=checkbox] {
    position: absolute;
    right: 20px;
    top: 20px;
  }
}
input[type=submit] {
  float: right;
  width: auto;
}
.columns {
  &.columns-1 .column {
    width: 100%;
  }
  &.columns-2 .column {
    width: 50%;
  }
  &.columns-3 .column {
    width: 33%;
    &:last-child {
      width: 34%;
    }
  }
  &.columns-4 .column {
    width: 25%;
  }
}
.column {
  display: block;
  float: left;
  width: 20%;
  margin: 0;
  padding: 0;
  list-style: none;
  min-height: 100px;
  &:first-child ul {
    margin-left: 15px;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  h2 {
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 0;
    font-size: 1.3em;
    text-align: center;
    text-transform: uppercase;
    line-height: 40px;
    font-weight: normal;
  }
}
.column__story {
  margin: 15px 15px 15px 0;
  padding: 0;
  height: 103px;
  position: relative;
  border-width: 1px;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.6);
  }
  .column__story__name {
      margin: 8px;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      line-height: 20px;
  }
}
.column__story__progress {
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  span {
    display: block;
    height: 3px;
    float: right;
    &.column__story__progress__done {
      float: left;
    }
  }
}
@for $i from 1 through 30 {
  .column__story__progress__#{$i} span {
    width: #{(100 / $i) + %};
  }
}
.column__story__header {
  padding: 0 10px;
  color: #fff;
  display: block;
  line-height: 25px;
  height: 23px;
  font-size: 13px;
  border-bottom-width: 4px;
  border-bottom-style: solid;
}
.column__story__header__owners {
  float: left;
}
.column__story__header__owners__owner {
  &:after {
    content: ", ";
  }
  &:last-child:after {
    content: "";
  }
}
.column__story__header__estimate {
  float: right;
}
.enlarged {
  .header__toolbar__enlarge {
    &:before {
      font-size: 20px;
    }
    &:after {
      font-size: 12px;
    }
  }
  .column__story {
    height: 82px;
    border-style: solid;
    border-width: 1px;
  }
  .column__story__progress {
    width: 5px;
    height: 100%;
    top: 0;
    left: 25px;
    span {
      width: 5px;
    }
  }
  @for $i from 1 through 30 {
    .column__story__progress__#{$i} span {
      height: #{(100 / $i) + %};
    }
  }
  .column__story__header {
    width: 25px;
    float: left;
    height: 82px;
    padding: 0;
    position: relative;
    border-bottom: none;
    box-shadow: none;
  }
  .column__story__header__estimate {
    display: block;
    float: none;
    width: 100%;
    text-align: center;
  }
  .column__story__header__owners {
    display: block;
    width: 100%;
    float: none;
    position: absolute;
    bottom: 3px;
    left: 0;
    text-align: center;
    line-height: 18px;
  }
  .column__story__header__owners__owner {
    display: block;
    font-size: 12px;
    &:after {
      content: "";
    }
  }
  .column__story__name {
    font-size: 18px;
    -webkit-line-clamp: 3;
    margin-left: 0;
    line-height: 25px;
    padding: 0 0 0 14px;
    margin: 3px;
  }
}
.modal__content .modal__story__name {
  input[type="text"] {
    width: calc(100% - 22px);
    font-size: 15px;
    line-height: 35px;
  }
}
.modal__story__labels, .modal__story__owners {
  position: relative;
  min-height: 32px;
  .label {
    position: absolute;
    left: 0;
    top:  0;
  }
  .value {
    margin-left: 30%;
    line-height: 22px;
    width: 70%;
    margin-top: 5px;
    li {
      display: inline;
      &:after {
        content: ", ";
      }
      &:last-child:after {
        content: "";
      }
    }
  }
}
.modal__story__type, .modal__story__state, .modal__story__requester, .modal__story__estimate {
  .value {
    line-height: 32px;
    width: 70%;
  }
}
