#loader {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 50%;
  margin-top: -60px;
  left: 50%;
  margin-left: -60px;
  z-index: 2;
}
#hill {
  position: absolute;
  width: 170px;
  height: 170px;
  background-color: transparent;
  transform: rotate(45deg);
  border-left: 5px solid #333;
}
#hill:after {
  content: '';
  position: absolute;
  width: 170px;
  height: 170px;
  left: 0;
  background-color: transparent;
}
#climber {
  position: absolute;
  left: 0;
  bottom: 15px;
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: 5px solid #333;
  border-radius: 20%;
  transform: translate(-35px, -35px) rotate(-45deg);
  animation: push 3s cubic-bezier(.79, 0, .47, .97) infinite;
}

@keyframes push {
  0% {
    transform: translate(-35px, -35px) rotate(-45deg);
  }
  6% {
    transform: translate(-35px, -35px) rotate(-50deg);
  }
  12% {
    transform: translate(-15px, -57px) rotate(47deg);
  }
  18% {
    transform: translate(-15px, -57px) rotate(45deg);
  }
  24% {
    transform: translate(-15px, -57px) rotate(40deg);
  }
  30% {
    transform: translate(5px, -77px) rotate(137deg);
  }
  36% {
    transform: translate(5px, -77px) rotate(135deg);
  }
  42% {
    transform: translate(5px, -77px) rotate(130deg);
  }
  48% {
    transform: translate(25px, -97px) rotate(225deg);
  }
  54% {
    transform: translate(25px, -97px) rotate(223deg);
  }
  60% {
    transform: translate(25px, -97px) rotate(220deg);
  }
  66% {
    transform: translate(45px, -117px) rotate(320deg);
  }
  72% {
    transform: translate(45px, -117px) rotate(318deg);
  }
  78% {
    transform: translate(45px, -117px) rotate(315deg);
  }
  100% {
    transform: translate(-35px, -35px) rotate(-225deg);
  }
}
