$login-color: #555;
$login-input-background-color: #fff;
$login-input-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.2);
$login-input-focus-shadow: 0 0 5px rgba(0, 0, 0, 0.4);

#sliders {
  position: relative;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  nav {
    ul {
      display: block;
      text-align: center;
      margin: 20px 0 40px 0;
      padding: 0;
      li {
        list-style: none;
        display: inline-block;
        font-size: 28px;
        line-height: 60px;
        font-weight: 100;
        margin: 0 15px;
        color: #555;
        transform: scale(0.8, 0.8);
        cursor: pointer;
        &.inactive {
          animation-name: scaledown;
          animation-duration: 0.5s;
        }
        &.active {
          color: #111;
          border-bottom: 1px solid #111;
          transform: scale(1, 1);
        }
        &.active-fx {
          animation-name: scaleup;
          animation-duration: 0.5s;
        }
        &:hover {
          color: #111;
          border-bottom: 1px solid #111;
        }
      }
    }
  }
}
.slide {
  background-color: #f9f9f9;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  width: 350px;
  height: 300px;
  border: 1px solid #ccc;
  position: absolute;
  transform: scale(0.7, 0.7);
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
    opacity: 1;
  }
  &.active {
    z-index: 2;
    transform: scale(1, 1);
    &::after {
      display: none;
    }
  }
  &.inactive {
    &::after {
      display: block;
    }
  }
  &#register {
    left: 50%;
    margin-left: -275px;
    &.active-fx {
      animation-name: moveinfromleft;
      animation-duration: 1s;
    }
    &.inactive {
      animation-name: movebackfromleft;
      animation-duration: 1s;
    }
  }
  &#login {
    left: 50%;
    margin-left: -175px;
    transform: scale(0.8, 0.8);
    z-index: 1;
    &.inactive {
      animation-name: moveback;
      animation-duration: 1s;
    }
    &.active {
      transform: scale(1, 1);
    }
    &.active-fx {
      animation-name: movein;
      animation-duration: 1s;
    }
  }
  &#apitoken {
    left: 50%;
    margin-left: -75px;
    &.active-fx {
      animation-name: moveinfromright;
      animation-duration: 1s;
    }
    &.inactive {
      animation-name: movebackfromright;
      animation-duration: 1s;
    }
  }
}
.slide__content {
  padding: 15px;
  position: relative;
  height: calc(100% - 30px);
  color: $login-color;
  h2 {
    margin-top: 0;
    padding: 0;
    font-weight: 100;
    font-size: 25px;
  }
  input[type="text"], input[type="password"] {
    border: none;
    line-height: 50px;
    padding: 0 10px;
    font-size: 20px;
    width: calc(100% - 20px);
    margin: 0 0 15px 0;
    border-radius: 3px;
    &:focus {
      outline: none;
    }
  }
  input[type=text], input[type=password] {
    background-color: $login-input-background-color;
    box-shadow: $login-input-shadow;
    &::placeholder {
      color: $login-color;
    }
    &:focus {
      box-shadow: $login-input-focus-shadow;
    }
  }
  p {
    font-size: 15px;
    margin-bottom: 10px;
  }
}
.slide__content__footer {
  margin: 0 -1px 0 0;
  height: 70px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  input, a {
    display: block;
    width: 100%;
    height: 70px;
    line-height: 70px;
    text-align: center;
    border: none;
    font-size: 22px;
    cursor: pointer;
    &:hover {
      opacity: 0.9;
    }
  }
  input {
    background-color: #2BC56D;
    color: #f9f9f9;
  }
  a {
    color: #f9f9f9;
    text-decoration: none;
    background-color: #2b5bc4;
  }
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes scaledown {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(0.8, 0.8);
  }
}
@keyframes scaleup {
  0% {
    transform: scale(0.8, 0.8);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes moveinfromleft {
  0% {
    transform: perspective(100px) translate3d(0, 0, 0) scale(0.7, 0.7);
  }
  50% {
    transform: perspective(100px) translate3d(-250px, -10px, 0)  scale(0.85, 0.85);
  }
  100% {
    transform: perspective(100px) translate3d(0px, 0px, 0px)  scale(1, 1);
  }
}
@keyframes movebackfromleft {
  0% {
    transform: perspective(100px) translate3d(0, 0, 0) scale(1, 1);
  }
  50% {
    transform: perspective(100px) translate3d(-250px, -10px, 0)  scale(0.85, 0.85);
  }
  100% {
    transform: perspective(100px) translate3d(0px, 0px, 0px)  scale(0.7, 0.7);
  }
}
@keyframes moveinfromright {
  0% {
    transform: perspective(100px) translate3d(0, 0, 0) scale(0.7, 0.7);
  }
  50% {
    transform: perspective(100px) translate3d(250px, -10px, 0)  scale(0.85, 0.85);
  }
  100% {
    transform: perspective(100px) translate3d(0px, 0px, 0px)  scale(1, 1);
  }
}
@keyframes movebackfromright {
  0% {
    transform: perspective(100px) translate3d(0, 0, 0) scale(1, 1);
  }
  50% {
    transform: perspective(100px) translate3d(250px, -10px, 0)  scale(0.85, 0.85);
  }
  100% {
    transform: perspective(100px) translate3d(0px, 0px, 0px)  scale(0.7, 0.7);
  }
}
@keyframes moveback {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.9, 0.9);
  }
  100% {
    transform: scale(0.8, 0.8);
  }
}
@keyframes movein {
  0% {
    transform: scale(0.8, 0.8);
  }
  50% {
    transform: scale(0.9, 0.9);
  }
  100% {
    transform: scale(1, 1);
  }
}
