#statistics {
  max-width: 800px;
  margin: 30px auto;
}
.statistics__pie {
  float: left;
  width: 200px;
  height: 300px;
  border-style: solid;
  border-width: 1px;
  margin: 0 20px 25px 0;
  padding: 10px 25px;
  &.last {
    margin-right: 0;
  }
  h2 {
    margin: 0;
    font-size: 18px;
    padding: 0 0 15px 0;
    text-align: center;
  }
}
.statistics__burndown {
  .tabs__content {
    h2 {
      margin: 10px 0 20px 35px;
      padding: 0;
      font-size: 18px;
    }
  }
}
