$login-color: #555;
$login-input-background-color: #fff;
$login-input-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.2);
$login-input-focus-shadow: 0 0 5px rgba(0, 0, 0, 0.4);

#{'.' + $theme} {
  background-color: $background-color;
  input[type=submit] {
    background-color: $submit-default-background-color;
    color: $submit-default-color;
    box-shadow: $submit-default-shadow;
    &:focus {
      box-shadow: $submit-default-focus-shadow;
    }
  }
  #hill, #climber {
    background-color: $loader-background-color;
  }
  .login-form {
    color: $login-color;
    input[type=text], input[type=password] {
      background-color: $login-input-background-color;
      box-shadow: $login-input-shadow;
      &::placeholder {
        color: $login-color;
      }
      &:focus {
        box-shadow: $login-input-focus-shadow;
      }
    }
  }
  header {
    background: $header-background;
    border-top: 4px solid $accent-color;
    border-bottom: 1px solid $header-border-color;
    box-shadow: $header-shadow;
    nav {
      a {
        color: $header-color;
        &:hover {
          background-color: $header-link-hover-background-color;
        }
        &.active {
          border-bottom: 3px solid $header-nav-active-border-color;
          background-color: $header-nav-active-background-color;
        }
      }
    }
  }
  .header__search {
    background-color: $header-search-background-color;
    box-shadow: $header-search-shadow;
    color: $header-color;
    &::placeholder {
      color: $header-search-placeholder-color;
    }
    &:focus {
      box-shadow: $header-search-focus-shadow;
    }
  }
  .header__toolbar {
    > a {
      color: $header-color;
      &:hover {
        background-color: $header-link-hover-background-color;
      }
    }
  }
  .header__toolbar__loggedin {
    color: $header-color;
    border-left-color: $header-border-color;
  }
  .header__toolbar__loggedin__context {
      background-color: $header-user-context-background-color;
      > a, > span {
        color: $header-color;
        border-top-color: $header-border-color;
        &:hover {
          background-color: $header-link-hover-background-color;
        }
      }
      .header__toolbar__loggedin__context__name {
        color: $header-search-placeholder-color;
        &:hover {
          background-color: transparent;
        }
      }
  }
  .projectswrapper__project {
    background-color: $project-select-background-color;
    color: $project-select-color;
    box-shadow: $project-select-box-shadow;
    opacity: 0.5;
    &:hover {
      opacity: 0.7;
    }
  }
  .projectswrapper__project__selected {
    opacity: 1;
    &:hover {
      opacity: 1;
    }
  }
  .column {
    h2 {
      background-color: $column-header-background-color;
      color: $column-header-color;
      box-shadow: $column-header-shadow;
    }
  }
  .column__story__progress {
    span {
      &.column__story__progress__done {
        background-color: $column-story-progress-done-background-color;
      }
      &.column__story__progress__not-done {
        background-color: $column-story-progress-notdone-background-color;
      }
    }
  }
  .column__story {
    box-shadow: $column-story-shadow;
    background-color: $column-story-background-color;
    color: $column-story-color;
    &.feature .column__story__header {
        background-color: $column-story-feature;
    }
    &.bug .column__story__header {
        background-color: $column-story-bug;
    }
    &.release .column__story__header {
        background-color: $column-story-release;
    }
    &.chore .column__story__header {
        background-color: $column-story-chore;
    }
  }
  .column__story__header {
    box-shadow: $column-story-header-shadow;
  }
  .settings {
    color: $settings-color;
    h2 {
      border-bottom-color: $settings-outer-border-color;
    }
  }
  .settings__theme {
    select {
      border-color: $settings-inner-border-color;
      box-shadow: $settings-input-shadow;
      background-color: $settings-input-background-color;
      color: $settings-color;
    }
  }
  .settings__columnsetup__row {
    background-color: $settings-column-background-color;
    border-color: $settings-outer-border-color;
  }
  .settings__columnsetup__row__name {
    input[type=text] {
      border-color: $settings-inner-border-color;
      box-shadow: $settings-input-shadow;
      background-color: $settings-input-background-color;
      color: $settings-color;
    }
  }
  .settings__columnsetup__row__rules {
    > button {
      background-color: $settings-add-background-color;
      box-shadow: $settings-add-shadow;
      &:after, &:before {
        background-color: $settings-add-plus-color;
      }
      &:disabled {
        background-color: $settings-add-disabled-background-color;
      }
    }
  }
  .settings__columnsetup__row__rules__rule {
    background-color: $settings-column-rule-background-color;
    border-color: $settings-column-rule-border-color;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    select {
      color: #222;
      border-color: $settings-inner-border-color;
      box-shadow: $settings-input-shadow;
      background-color: $settings-input-background-color;
      color: $settings-color;
    }
    input[type="text"] {
      box-shadow: $settings-input-shadow;
      border-color: $settings-inner-border-color;
      background-color: $settings-input-background-color;
      color: $settings-color;
    }
    button {
      &:before, &:after {
        background-color: $settings-color;
      }
    }
  }
  .enlarged {
    .column__story {
      box-shadow: $enlarged-column-story-shadow;
    }
  }
}
